<div class="site-configuration">
        <div class="site-config-control">
            <i class="material-icons">settings</i>
        </div>
        <h5>Skins</h5>
        <ul class="list-inline color-themes">
            <li class="list-inline-item" data-color="danger" data-complementary="primary" data-logo="primary">
                <div class="danger-color"></div>
                <div class="primary-color"></div>
            </li>
            <li class="list-inline-item" data-color="warning" data-complementary="primary" data-logo="primary">
                <div class="warning-color"></div>
                <div class="primary-color"></div>
            </li>
            <li class="list-inline-item" data-color="primary" data-complementary="warning" data-logo="warning">
                <div class="primary-color"></div>
                <div class="warning-color"></div>
            </li>
        </ul>
        <ul class="list-inline color-themes">
            <li class="list-inline-item" data-color="warning" data-complementary="danger" data-logo="primary">
                <div class="warning-color"></div>
                <div class="danger-color"></div>
            </li>
            <li class="list-inline-item" data-color="success" data-complementary="danger" data-logo="primary">
                <div class="success-color"></div>
                <div class="danger-color"></div>
            </li>
            <li class="list-inline-item" data-color="success" data-complementary="primary" data-logo="primary">
                <div class="success-color"></div>
                <div class="primary-color"></div>
            </li>
        </ul>
        <ul class="list-inline color-themes">
            <li class="list-inline-item" data-color="success" data-complementary="warning" data-logo="primary">
                <div class="success-color"></div>
                <div class="warning-color"></div>
            </li>
            <li class="list-inline-item" data-color="info" data-complementary="warning" data-logo="primary">
                <div class="info-color"></div>
                <div class="warning-color"></div>
            </li>

            <li class="list-inline-item" data-color="info" data-complementary="danger" data-logo="primary">
                <div class="info-color"></div>
                <div class="danger-color"></div>
            </li>
        </ul>
        <ul class="list-inline color-themes">
            <li class="list-inline-item" data-color="info" data-complementary="primary" data-logo="primary">
                <div class="info-color"></div>
                <div class="primary-color"></div>
            </li>
            <li class="list-inline-item" data-color="primary" data-complementary="danger" data-logo="danger">
                <div class="primary-color"></div>
                <div class="danger-color"></div>
            </li>

            <li class="list-inline-item" data-color="danger" data-complementary="warning" data-logo="primary">
                <div class="danger-color"></div>
                <div class="warning-color"></div>
            </li>
        </ul>
</div>