<!-- start of sidebar -->
    <div class="sidebar">
        <ul class="nav nav-sidebar">
            <li class="has-submenu">
                <a href="javascript:;">
                    <i class="material-icons">dashboard</i><span>Dashboard</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="index-2.html">Dashboard 1</a>
                    </li>
                    <li><a href="index1.html">Dashboard 2</a>
                    </li>
                    <li><a href="index2.html">Dashboard 3</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="javascript:;">
                    <i class="material-icons">insert_chart</i><span>Charts</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="chartist-js.html">Chartist JS</a>
                    </li>
                    <li><a href="chart-js.html">Chart JS</a>
                    </li>
                    <li><a href="flot-js.html">Flot JS</a>
                    </li>
                    <li><a href="morris-js.html">Morris JS</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <span class="tag">2</span>
                <a href="javascript:;">
                    <i class="material-icons">mail_outline</i><span>Mailbox</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="compose.html">Compose</a>
                    </li>
                    <li><a href="mailbox.html">Inbox</a>
                    </li>
                    <li><a href="mailbox-reply.html">Reply</a>
                    </li>
                    <li><a href="mailbox-detail.html">Detail</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="javascript:;">
                    <i class="icon-table2"></i><span>Tables</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="simple-tables.html">Simple Table</a>
                    </li>
                    <li><a href="data-tables.html">Data Table</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="javascript:;">
                    <i class="fi-foot"></i><span>UI Element</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="ui-general.html">General</a>
                    </li>
                    <li><a href="ui-buttons.html">Buttons</a>
                    </li>
                    <li><a href="ui-typography.html">Typography</a>
                    </li>
                    <li><a href="icons.html">Icon</a>
                    </li>
                    <li><a href="cards.html">Cards</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="javascript:;">
                    <i class="material-icons">border_color</i><span>Forms</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="general-form.html">General Forms</a>
                    </li>
                    <li><a href="advanced-form.html">Advanced Forms</a>
                    </li>
                    <li><a href="text-editor.html">Editors</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="javascript:;">
                    <i class="material-icons">person_add</i><span>Authentication</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="login.html">Login</a>
                    </li>
                    <li><a href="register.html">Registration 1</a>
                    </li>
                    <li><a href="register1.html">Registration 2</a>
                    </li>
                    <li><a href="register2.html">Registration 3</a>
                    </li>
                    <li><a href="register3.html">Registration 4</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="javascript:;">
                    <i class="material-icons">error</i><span>Error Pages</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="404page.html">404 Error</a>
                    </li>
                    <li><a href="500page.html">500 Error</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu expanded">
                <a href="javascript:;">
                    <i class="material-icons">content_copy</i><span>Pages</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="timeline.html">Timeline</a>
                    </li>
                    <li class="active"><a href="profile.html">Profile</a>
                    </li>
                    <li><a href="comment.html">Comment</a>
                    </li>
                    <li><a href="blank.html">Blank Page</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="javascript:;">
                    <i class="material-icons">check_box_outline_blank</i><span>Email Template</span>
                </a>
                <ul class="nav sub-menu">
                    <li><a href="email.html">Blog Post</a>
                    </li>
                    <li><a href="email-clean.html">Product Template</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="documentation/index.html">
                    <i class="material-icons">library_books</i><span>Documentation</span>
                </a>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i><span>Log Out</span>
                </a>
            </li>

        </ul>
    </div>